* {
    background: #f5f5f5;
    color: black;
    font-family: 'Jua', sans-serif;


}
html {
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/24/03/41/milky-way-2675322_960_720.jpg");
}
body {
    height: 100%;
    border: 6px solid black;

}

.preview p{
    border-bottom: grey;
    border-bottom-style: dashed;
    padding-bottom: 8px;
}

.blog-post{
    padding-left: 13px;
}

.blog-post h2{
    padding-left: 13px;
    font-size: 28px;
}

.blog-post h1{
    text-align: center;
    font-family: Georgia;
    font-size: 35px;
    padding-bottom: 30px;
}

h1 {
    font-family:  'Rotboto Condensed', sans-serif;
    font-size: 1.5rem;
    line-height: 0.4rem;
}
h2{
    font-family: 'DIN Condensed', sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}
p {
    font-size: 22px;
    line-height: 1.0em;
    font-family: 'Rotboto', sans-serif;
}

.blog-post a{
    font-size: 22px;
    line-height: 1.0em;
    font-family: 'Rotboto', sans-serif;
    color: grey;
}

.parent{
    width:100%;
    height:100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/24/03/41/milky-way-2675322_960_720.jpg");
}

.blog-post-container{
    margin-top: 20px;
}

.blog-posts{
    margin-top: 20px;
}

.background{
    background-image: url("https://cdn.pixabay.com/photo/2017/08/24/03/41/milky-way-2675322_960_720.jpg");
}
